@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-border-opacity: 1;
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
}

/* button toggle addguest popup */
/* From Uiverse.io by Yaya12085 */ 
.switch {
  position: relative;
  height: 1.5rem;
  width: 2.8rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all .3s ease;
}

.switch:checked {
  background-color: #f07b01;
}


.switch::before {
  position: absolute;
  content: "";
  left: calc(1.4rem - 1.2rem);
  top: calc(1.4rem - 1.2rem);
  display: block;
  height: 1.2rem;
  width: 1.2rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
}

.switch:checked:before {
  transform: translateX(100%);
  border-color:#f07b01;
}

/* h1 {
  font-size: clamp(16px, 2.5vw, 32px);
}

h2 {
  font-size: clamp(14px, 2.5vw, 28px);
} */

/* p{
  color: #595959;
} */
.css-hz1bth-MuiDialog-container {
  display: block;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  margin: auto;
  width: 550px;
}

/* react silk */
.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #2A2C41;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* file type styling */
/* input::file-selector-button {
  font-weight: bold;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  background-color: black;
  border: thin solid grey;
  border-radius: 5px;
  cursor: pointer;
} */


/* website selection color  */
::selection {
  background-color: #ffab2cd7;
  /* Change this color to the desired color */
  color: white;
  /* Change this color to the desired text color */
}

/* ql Editor styling */
.ql-toolbar.ql-snow {
  border-radius: 5px 5px 0 0 !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
  height: 100% !important;
}

.ql-container.ql-snow {
  border-radius: 0 0 5px 5px !important;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 0px !important;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  height: 15px !important;
}

/* react js pagination */
.pagination {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.pagination-item {
  padding: 2px 8px;
  border: 1px solid rgb(203, 213, 225, var(--tw-border-opacity));
  border-radius: 5px;
  background-color: #FFFBF5;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.pagination-item:hover {
  background-color: rgb(211, 211, 211);
}

.pagination-item.active {
  background-color: black;
  color: white;
}

/* End */
/* calender */
.react-datepicker__month-container {
  width: 320px;
}

.react-datepicker-wrapper {
  display: block;
  padding: 0;
  border: 0;
}

.react-datepicker__week {
  display: flex;
  gap: 9px;
}

.react-datepicker__day--006 {
  width: 200px;
}

/* admin panel background design */
.vignette {
  background: radial-gradient(circle, rgb(186, 185, 243), rgb(144, 158, 170));
  /* opacity: 0.8; */
  /* pointer-events: none; */
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


/* carousel component */
.carousel-container {
  position: relative;
}

.carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.carousel::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.carousel-item {
  flex: none;

  /* Adjust the height as needed */
  scroll-snap-align: start;
  /* Add margin between items if needed */
}


.btn:hover {
  background-color: #0056b3;
}


/* table styling */
table {
  border-radius: 8px !important;
  overflow: hidden;
  border: 2px solid black;
}


/* option tag styling */
select {

  float: left;
  width: 21.4%;
  height: 34px;
  /* background: #f9f9e0; */
  border: 1px solid #999999;
  padding: 0px 10px 0px 10px;
  color: rgb(41, 41, 41);
  /* margin: -10px 0px 0px 20px; */
  background: white;
  border-radius: 8px;
  font-size: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: none;
  /* background: url(https://alt-fit.com/images/global/select-button.png) 100% / 15% no-repeat #f9f9e0; */
}

/*  Package detail date time container  */
.dateInnerCell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todayPrice {
  margin: 0;
  font-size: 0.75rem;
  color: #ff5722;
  /* Customize the color */
}



.container-wrapper {
  margin: auto;
  min-width: 300px;
}


@media screen and (max-width:639px) {
  .container-wrapper {
    width: calc(100% - 35px) !important;
    /* padding: 0 20px; */
    /* background-color: red !important; */
    /* padding:0 540px !important; */

  }

  .vignette-relative {
    /* background: radial-gradient(circle, transparent, rgb(5, 1, 53)); */
    position: absolute;
  }
}

@media screen and (min-width:640px) {
  .container-wrapper {
    width: 600px !important;
    /* background-color: red !important; */
    /* padding:0 540px !important; */

  }

  .vignette-relative {
    /* background: radial-gradient(circle, transparent, rgb(5, 1, 53)); */
    position: absolute;
  }
}

@media screen and (min-width: 768px) {
  .container-wrapper {
    width: 750px !important;
    /* background-color: red !important; */
    /* padding:0 540px !important; */

  }
}

@media screen and (min-width: 990px) {
  .container-wrapper {
    width: 950px !important;
    /* background-color: green !important; */
    /* padding:0 20px !important; */
  }
}

@media screen and (min-width: 1200px) {
  .container-wrapper {
    width: 1130px !important;
    /* background-color: blue !important; */
    /* padding:0 20px !important; */
  }
}

@media screen and (min-width: 1400px) {
  .container-wrapper {
    width: 1330px !important;
    /* background-color: blue !important; */
    /* padding:0 20px !important; */
  }
}

@media screen and (min-width: 1300px) {
  .container-wrapper {
    width: 1280px !important;
    /* background-color: blue !important; */
    /* padding:0 20px !important; */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* this is change the innerHtml into the  normal in payment term anditernery tour detail*/

ol li {
  list-style: decimal outside;
  margin-bottom: 8px;

}

.Dot ol li::marker {
  color: #2A2C41;
}

ul li {
  list-style: disc outside;
  margin-bottom: 8px;
}

/* For Editore we are use of our custom css */

h1 {
  /* font-size: 40px; */
  font-size: 32px;
  line-height: 42px;
}

h2 {
  /* font-size: 30px; */
  font-size: 24px;
  line-height: 35px;
}


blockquote {
  padding: 5px 10px 10px;
  background: #e5ecf7;
  border-left: 2px solid #c7d9f5;
  color: #3f849d;
}

.ql-indent-1 {
  text-indent: 40px;
}

.ql-indent-2 {
  text-indent: 60px;
}

.ql-indent-3 {
  text-indent: 80px;
}

.ql-indent-4 {
  text-indent: 100px;
}

.ql-indent-5 {
  text-indent: 120px;
}

/* a{
  color: #0056b3;
} */


.pagination-item {
  list-style: none;
  /* Removes bullets/numbers */
}

.font {
  height: 20px;
  width: 13px;
}

.rewiew {
  height: 25px;
  width: 20px;
}

.font1 {
  height: 17px;
  width: 17px;
}

.about-margin ul {
  margin-left: 25px;
}

.about-margin ol {
  margin-left: 25px;
}

.about-margin ol li s {
  margin-left: 7px;
}

.about-margin p {
  margin-bottom: 3px;
}

.about-margin h1,
.about-margin h2 {
  margin: 10px 0px;
}

.package-list p {
  margin-bottom: 10px;
}

.payment-margin ol {
  margin-left: 18px;
}

.box-Shadow-Style-Package {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

/* footer */
.footer-content:hover {
  text-decoration: underline;
  color: white;
}

.footer-content2:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* /Loading  code is here */
.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}

.gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}

.gooey .dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}

.gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}

@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}



.day ul,
.day ol {
  margin-left: 25px;
}

.payment-margin ul li {
  margin-left: 20px;
}

.breadCrumbs li {
  list-style: none;
}

.blog-travel-news img{
  border-radius: 10px;
  margin:20px 0px;
}
.blog-travel-news iframe{
  border-radius: 10px;
  margin:20px 0px;
  width:100%;
  height:auto;
}

/* Apply styles for devices with a max width of 768px */
@media (min-width: 768px) {
  .blog-travel-news iframe{
    border-radius: 10px;
    width:100%;
    height:400px;
  }
}
